/*  NumberSquares CSS */
html{
   background-color: #dfaf7f;
   font-family: arial, verdana, tahoma;
}
.mainHeading{
	color: #668866;
	font-size: 30px;
	padding: 17px;
	margin-left: 4px;
}
.numberSelectBoxRow{
	margin-left: 16px;
}
.numberRand{
  width: 60px;
  height: 60px;
  margin: 5px;
  float: left;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  background-color: #ccccff;
}
.newNumbersBtn{
    height: 60px;
	width: 90px;	
	color: #fff;
	background-color: #4b0;
	font-size: 18px;
	font-weight: 500;
    margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 40px;
	border: 0px solid transparent;
	border-radius: 15px;
	white-space: normal;
	float: left;
}
.how{
	margin-left: 25px;
	color: #fff;
	background-color: #668866;
	padding: 15px;
	width: 600px;
	display: none;
	position: absolute;
}
.close{
	text-align: center;
}
.closeX{
	font-size: 32px;
	text-align: right;
	cursor: default;
}
.closeBtn{
	height: 30px;
	width: 80px;	
	color: #668866;
	background-color: #fff;
	font-size: 18px;
	font-weight: 500;
	border: 0px solid transparent;
	border-radius: 15px;
}
.howTitle{
	font-size: 22px;
}
.playArea{
	float: left;
}
.boxOf16{
   margin-top: 45px;
   float: left;
   margin-left: 20px;
}
.rowOf4{

}
.place{
   width: 40px;
  height: 40px;
  margin: 3px;
  float: left;
  font-size: 35px;
  text-align: center;
  background-color: #fff; 
  color: #aaaaaa;
}
.infoArea{
	float: left;
	margin-top: 48px;
	margin-left: 45px;
	text-align: center;
}
.noteBox{
    background-color: #668866;
	color: #ffffff;
	padding: 10px;
	height: 90px;
	width: 170px;
}
.note{
  font-size: 18px;
  text-align: center;
  width: 100px;
  display: inline-block;
}
.sets{
  font-size: 22px;
  margin-top: 5px; 
  text-align: center;
}
.scoreBox{
    background-color: #332288;
	color: #ffffff;
	padding: 10px;
	height: 90px;
	width: 170px;
	display: none;
}
.gameOver{
  font-size: 22px;
  text-align: center;
}
.scoreNote{
  font-size: 22px;
  text-align: center;
}
.score{
  font-size: 36px;
  margin-top: 5px; 
  text-align: center;
}
.newGameBtn{
    height: 35px;
	width: 190px;	
	color: #fff;
	background-color: #4b0;
	font-size: 18px;
	font-weight: 500;
    margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	border: 0px solid transparent;
	border-radius: 15px;
	white-space: normal;
}
.howBtn{
    height: 35px;
	width: 190px;	
	color: #fff;
	background-color: #4b0;
	font-size: 18px;
	font-weight: 500;
    margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 0px;
	border: 0px solid transparent;
	border-radius: 15px;
	white-space: normal;
}